<!DOCTYPE html>

<html>

<head>
	<title>ProMealMapp</title>
	<meta charset="UTF-8">
	<meta name="description" content="Nutrition tracker">
	<meta name="keywords" content="nutri tracker, nutrition tracker, nutrition, nutrients, app, daily requirements">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Hind+Siliguri|Pattaya" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
<header id="headerOne">	
	{% include 'navbar.html' %}
	<style>
        /* İstediğimiz özel stiller */
        .custom-btn {
            background-color: #4CAF50;
            color: white;
            padding: 20px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 36px;
            cursor: pointer;
            border-radius: 20px;
            border: none;
            font-weight: bold;
            transition: all 0.3s ease;
        }

        /* Butonun hover efekti */
        .custom-btn:hover {
            background-color: #45a049;
            transform: scale(1.1);
        }
    </style>
</header>



<main id="mainOne">

	<div class="area" style="margin-top: 40px;"></div>
	<div id="about"class="container" style="display: flex; height: 400px; margin-top: 100px; margin-bottom: 200px;">
		<div class="md1" style="height: 300px; flex:1 ">
			<img src="{% static 'images/about3.jpg' %}" alt="">
		</div>
		<div class="md2" style="height: 300px; flex:1">
			<h3 style="text-align: center; font-size: 30px; padding-top: 50px;">ABOUT</h3>
			<p style="font-size: 24px; padding-top: 25px; text-align: justify; padding-right: 25px; ">Welcome to our website dedicated to health and nutrition! Here, we believe that understanding your body's needs is essential for a balanced and fulfilling lifestyle. Our platform is designed to assist you in determining your daily vitamin, mineral, and calorie requirements based on your height, weight, and daily activities. Whether you're looking to maintain a healthy weight, boost your energy levels, or simply improve your overall well-being, we've got you covered. Additionally, you can easily track the nutritional content of your meals by inputting the foods you consume, helping you make informed dietary choices. Start your journey towards a healthier you today with our user-friendly tools and resources!</p>

		</div>
	</div>

	<div id="contact" class="container" style="display: flex; height: 600px; margin-top: 100px; margin-bottom: 200px;">
		<div class="md1" style="height: 300px; flex: 1">
			<img src="{% static 'images/contact.jpg' %}" style="width:750px;height:705px;" alt="">
		</div>
		<div class="md2" style="height: 300px; flex: 1">
			<h3 style="text-align: center; font-size: 30px; padding-top: 50px;">CONTACT US</h3>
			<p style="font-size: 24px; padding-top: 25px; text-align: justify; padding-right: 25px;">
				Have any questions or feedback for us? Feel free to reach out using the contact information below. We are here to assist you with your health and nutrition journey. Additionally, our website offers personalized macro and micro nutrient calculations based on user's weight, height, activity level, and consumed foods.
			</p>
			<p style="font-size: 20px; margin-top: 20px;"><i class="fas fa-phone"></i> +41 41 414 14 14</p>
			<p style="font-size: 20px;"><i class="fas fa-envelope"></i> pro@mealmap.com</p>
			<p style="font-size: 20px;"><i class="fab fa-instagram"></i> @ProMealMap</p>
		</div>
	</div>
	

	<div style="text-align: center; margin-bottom: 200px;" id="getStarted">
        {% if user.is_authenticated %}
        <a href="{% url 'calculate' %}">
            <button class="custom-btn">GET STARTED WITH PROMEALMAP</button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="custom-btn">GET STARTED WITH PROMEALMAP</button>
        </a>
    {% endif %}
    </div>
	
</main>

<footer id="footerOne">
	<p>&copy; 2024 &nbsp;<span id="spanFooter">ProMealMapp</span>&nbsp;&nbsp;</p>
	
</footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>