<div id="divLogo">
  <h2 id="headlineLogo">ProMealMapp</h2>
  <p id="paragLogo">Your personal nutrition tracker</p>
</div>

<nav id="navUl">
  <ul id="ulNav" style="padding-top: 10px">
      <li class="liNav">
          <a href="{% url 'index' %}" class="aNav" >HOME</a>
      </li>
      {% if request.session.is_authenticated %}
      <li class="liNav">
          <a href="{% url 'logout' %}" class="aNav" >LOG OUT</a>
      </li>
      {% else %}
      <li class="liNav">
          <a href="{% url 'login' %}" class="aNav">LOG IN</a>
      </li>
      <li class="liNav">
          <a href="{% url 'register' %}" class="aNav">REGISTER</a>
      </li>
      {% endif %}
  </ul>
</nav>
